[submodule "antigen/.antigen/bundles/robbyrussell/oh-my-zsh"]
        active = true,
        path = antigen/.antigen/bundles/robbyrussell/oh-my-zsh
        url = https://github.com/ohmyzsh/ohmyzsh
[submodule "antigen/.antigen/bundles/romkatv/powerlevel10k"]
        active = true
        path = antigen/.antigen/bundles/romkatv/powerlevel10k
        url = https://github.com/romkatv/powerlevel10k
[submodule "antigen/.antigen/bundles/zsh-users/zsh-autosuggestions"]
        active = true
        path = antigen/.antigen/bundles/zsh-users/zsh-autosuggestions
        url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "antigen/.antigen/bundles/zsh-users/zsh-completions"]
        active = true
        path = antigen/.antigen/bundles/zsh-users/zsh-completions
        url = https://github.com/zsh-users/zsh-completions
[submodule "antigen/.antigen/bundles/zsh-users/zsh-syntax-highlighting"]
        active = true
        path = antigen/.antigen/bundles/zsh-users/zsh-syntax-highlighting
        url = https://github.com/zsh-users/zsh-syntax-highlighting
